name: CI-CD

on:
  push:
    branches: [ "main" ]

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: us-east-1
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    steps:
    - name: Checkout source code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Login to ECR
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build Docker Image
      run: |
        docker build -t node-backend:${{ github.sha }} .

    - name: Tag Image
      run: |
        docker tag node-backend:${{ github.sha }} \
        <AWS_ACCOUNT_ID>.dkr.ecr.us-east-1.amazonaws.com/node-backend:${{ github.sha }}

    - name: Push Image
      run: |
        docker push <AWS_ACCOUNT_ID>.dkr.ecr.us-east-1.amazonaws.com/node-backend:${{ github.sha }}
